*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

/* Navigation */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;

    padding-right: 10px;
    padding-left: 10px;
}
.nav-container {
    background: #BFDEDC;
    height: 130px;
}

.wrapper{
   max-width: 1280px; 
   margin: 0 auto;
}

nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;

}

/*nav .logo {} */

.nav-items li{
    list-style: none;
    margin-right: 100px; 

}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a{
    color: #757373;
    font-size: 48px;
    font-family: 'Inter';
    text-decoration: none;

    background: #669794;
    border-radius: 8px;
    padding: 6px 12px;
}

/* Header */

.header-container {
    background: #F5F5F5;
    background-repeat: no-repeat; 
    background-position: left;
    background-size: contain;
    height: calc(100vh - 72px);
    display:flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;

}

header h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    margin-bottom: 24px;
    background: #F5F5F5;
}

header p {
    font-size: 64px;
    line-height: 77px;
    align-items: center;

    color: #504E4E;
    width: 466px;
    background: #F5F5F5;
}

/* About*/
.about-container {
    background: #F5F5F5;
    margin-top: 50px;
}

header {
    display: flex;
    align-items: center;
    background: #F5F5F5;

}

header h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    margin-bottom: 24px;
    background: #F5F5F5;
}

header p {
    font-size: 40px;
    line-height: 77px;
    align-items: right;
    width: 100%;

    color: #504E4E;
    width: 466px;
    background: #F5F5F5;
}

/* FAQ */
.FAQ-container {
    background: #F5F5F5;
}

header {
    display: flex;
    align-items: center;

}

header h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    margin-bottom: 24px
}
header p {
    font-size: 40px;
    line-height: 77px;
    max-width: 2000 px;
    width: 100%;

    color: #504E4E;
    width: 100%;
}

/* Thrift Stores */
.thriftstores-container {
    background: #F5F5F5;
}

header h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    margin-bottom: 24px
}

.nav-stores li{
    list-style: none;
    margin-right: 100px; 
    margin-top: 50px;
}

.nav-stores li a {
    color: #757373;
    font-size: 48px;
    font-family: 'Inter';
    text-decoration: none;

    background: #669794;
    border-radius: 8px;
    padding: 6px 12px;
}

.post1-container {
    background: #F5F5F5;

    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 72px;
    background-position: left;
}

.post1-intro {
    align-items: left;
    align-items: top;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    background: #F5F5F5;
    margin-bottom: 24px
}

.post1-content {
    align-items: left;
    align-items: top;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #757373; 
    background: #F5F5F5;

    border-radius: 8px;
    padding: 6px 12px;
}

.post1-image {
    align-items: left;
    align-items: top;

    background: #F5F5F5; 

    border-radius: 8px;
    padding: 6px 12px;
    margin-bottom: 24px;
}

header h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #BFDEDC; 
    margin-bottom: 24px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;

    padding-right: 10px;
    padding-left: 10px;
}
